[submodule "elsie-dee"]
	path = elsie-dee
	url = git@github.com:ekholabs/elsie-dee.git
[submodule "eureka-service"]
	path = eureka-service
	url = git@github.com:ekholabs/eureka-service.git
[submodule "configuration-service"]
	path = configuration-service
	url = git@github.com:ekholabs/configuration-service.git
[submodule "elsie-deetect"]
	path = elsie-deetect
	url = git@github.com:ekholabs/elsie-deetect.git
[submodule "elsie-dee-configs"]
	path = elsie-dee-configs
	url = git@github.com:ekholabs/elsie-dee-configs.git
[submodule "face_classification"]
	path = face_classification
	url = git@github.com:ekholabs/face_classification.git
[submodule "elsie-deesight"]
	path = elsie-deesight
	url = git@github.com:ekholabs/elsie-deesight.git
