version: '3'
services:
  elsie-dee:
    image: "ekholabs/elsie-dee"
    container_name: "elsie-dee"
    ports:
      - "80:80"
    links:
      - configuration-service
      - eureka-service
      - elsie-deetect
      - elsie-deesight
    depends_on:
      - configuration-service
      - eureka-service
      - elsie-deetect
      - elsie-deesight
  elsie-deetect:
    image: "ekholabs/elsie-deetect"
    container_name: "elsie-deetect"
    ports:
      - "8080:8080"
    links:
      - configuration-service
      - eureka-service
    depends_on:
      - configuration-service
      - eureka-service
  elsie-deesight:
    image: "ekholabs/elsie-deesight"
    container_name: "elsie-deesight"
    ports:
      - "8085:8085"
    links:
      - configuration-service
      - eureka-service
      - face-classifier
    depends_on:
      - configuration-service
      - eureka-service
      - face-classifier
  configuration-service:
    image: "ekholabs/configuration-service"
    container_name: "configuration-service"
    ports:
      - "8082:8082"
    links:
      - eureka-service
    depends_on:
      - eureka-service
  eureka-service:
    image: "ekholabs/eureka-service"
    container_name: "eureka-service"
    ports:
      - "8083:8083"
  face-classifier:
    image: "ekholabs/face-classifier"
    container_name: "face-classifier"
    ports:
      - "8084:8084"
