version: '3'
services:
  elsie-dee:
    image: "ekholabs/elsie-dee"
    container_name: "elsie-dee"
    ports:
      - "80:80"
    links:
      - configuration-service
      - eureka-service
      - elsie-deetect
      - elsie-deesight
      - elsie-dee-audiorip
      - elsie-dee-search
    depends_on:
      - configuration-service
      - eureka-service
      - elsie-deetect
      - elsie-deesight
      - elsie-dee-audiorip
      - elsie-dee-search
  elsie-deetect:
    image: "ekholabs/elsie-deetect"
    container_name: "elsie-deetect"
    ports:
      - "8080:8080"
    links:
      - configuration-service
      - eureka-service
    depends_on:
      - configuration-service
      - eureka-service
  elsie-dee-search:
    image: "ekholabs/elsie-dee-search"
    container_name: "elsie-dee-search"
    ports:
      - "8087:8087"
    links:
      - configuration-service
      - eureka-service
      - elsie-dee-elastic
    depends_on:
      - configuration-service
      - eureka-service
      - elsie-dee-elastic
  elsie-dee-audiorip:
    image: "ekholabs/elsie-dee-audiorip"
    container_name: "elsie-dee-audiorip"
    ports:
      - "8086:8086"
    links:
      - configuration-service
      - eureka-service
    depends_on:
      - configuration-service
      - eureka-service
  elsie-deesight:
    image: "ekholabs/elsie-deesight"
    container_name: "elsie-deesight"
    ports:
      - "8085:8085"
    links:
      - configuration-service
      - eureka-service
      - face-classifier
    depends_on:
      - configuration-service
      - eureka-service
      - face-classifier
  configuration-service:
    image: "ekholabs/configuration-service"
    container_name: "configuration-service"
    ports:
      - "8082:8082"
    links:
      - eureka-service
    depends_on:
      - eureka-service
  eureka-service:
    image: "ekholabs/eureka-service"
    container_name: "eureka-service"
    ports:
      - "8083:8083"
  face-classifier:
    image: "ekholabs/face-classifier"
    container_name: "face-classifier"
    ports:
      - "8084:8084"
  elasticsearch:
    image: elasticsearch:2.4
    container_name: elsie-dee-elastic
    environment:
      - cluster.name=elastic-cluster
      - http.host=0.0.0.0
      - transport.host=0.0.0.0
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
